language: node_js
node_js:
- node
cache: npm
install: true
jobs:
  include:
  - stage: build and deploy
    if: tag IS present
    script:
    - sudo apt-get install --no-install-recommends gcc make libpng-dev -y # https://github.com/imagemin/pngquant-bin/issues/78
    - npm i
    - npm i -g now
    - npm run deploy
    - npm run alias
env:
  global:
  - CF_ROOT=https://mvm.windingtree.com
  # NOW TOKEN
  - secure: T0y2j5vGQIGoLWa/6uLngEsFGff14fe4xQezkltLp5KG1oJCgcQ8klpDvGGR+MphtDgH0NvC6ALHLqEwhnxfuhII+9AFhJic8B65Ww19Z7Hl4ZCggDG+CchwApJmI2SyJXgOXIOVz0kj1mR3wNkgu+bmPxQmGOIP3QlB+IuiZqxrWwNUjjMZzg5lFSRQxlR2JTxANDRMi25PgXfwNHgmzghGhHGKrKMRtp6+A6K+gUmmZvQt5I5xOnmQfpbwEIj805nsJHit3iTZ9yRJ3lzg1b/CkhfvFkS3JS7rDpuFSl6f5r8lI4zpQmTA2V9NyqREgZ+Qu1y5yA11NB3/mPsh4M2FB5+lH64jrYKHBYEaQH59lmfyAxNNXAR7QJldXNzBu/ljBXy/kb+W8wPBCTynXV8kGmMPykLNs+4+cim6avg1Fjb6E9KPAHo6nCFi4OvzrOHjs9UsoMVsH/0dXDi8QCSsPjGwuvgRPP3Oz5QA+r4H1Xm7FqUeAR6bH8dVzeZFT5UbiMBwkjM6fgN+DAVqPzPv8au4qkWrzs7oWLH/uSGwqsXOy6nRvT/CqkzdXdtz2qzEQ2cG1lola7eBMMBjmdKjdtBK295tIgWovFqUF6LtOo7/Ytq0jthTU1sunuIJoBuWcSWBM0ayIL6oIxzCb0APcsw+Ad/+TCzmjUymEJU=
  # CF_ZONE
  - secure: B7Odhdz6q0o6SxFdTY7gUJ6odlZOu6/Bp1uXOuhBj5OcAR3VbJoCgd+PtPky0QoTfZ2M91dOaMxwB2Spk9s0okFuZHwB9jxEmTwHhQM2vHpQPqFpcgfJQeE8DoDz0z/Zypr4hci4FSRCjuGvcTzFa4R+XtfxIsTQmjP6LD+XyLthnrVQ4W9DWMkzpwpdHDrov8CAf5c2P0h+mDdBO7h0507+YnZUjtYaZBWhm+WRPbgCHfIW9wUTt4R5JsdRo1vtNMUNMak+ckwJW8oCFZVbYCEVRaoxubnA+ScMMmrs+jxp5Zs6J9ZM8Bwkuq+k0AxWS33bhCARYFCYbDdGRTeIUDBNYn4+Ek1R6M6usYnh9UrOcUAEtkVzlreUetgEMI4kSXZTbJpzEHrTrZij/Ov9L+YVrLabUTZ/057a6wiHaJZXJuesWuDd+K9JbwKvQs21GBAjoVT5MExzjyCvKVgRo/l6Qm7ycRcfVpX3BChCgiH/QFZldC1tvalBavwIzi4xsHnyVIoNuTAW8K14XIKjsbFGniYcb/0pWO2f6lEzXl8vwVurt12Dp41IAowwuDDtXEflV0mHwx6zEGGTt6xS5tHxK6XSNay0A7z2ZW9tdUwMa75I4CJaBSpWbIPqVVULunZnOS0baRdE8VQaKMFRugI9rkqv4KjcojKDVgfSM5o=
  # CF_USER
  - secure: 64H10Oprq3e2wuFaVoxu0HA0i+jRPDsl+oSYLs/cffNeMLPjL+0Dkp3WGMZbch0hqlJbhO6FHy8LC7B4t4i3TZuJ34s3esSz1Twv/7L6bRD9OtkGFtAT4UNgggKP5hnoBiQq88tFWkbh0cutscFJfnxAp9aYPmRc6tT/xzLjgfaCt+/rkTYioa9YYXz6Tufel9k+7FSsWWW1e20/OwV7U7E+hn79gOFzP9QZ8EuHC/u0Zr8At1HNdJZDamJM+Vt9qALDcZogfz3s74BtYh2msMGCwh1IOivTecQlEUhpCFGlhZpKqRocahJrFb2hLviYkDn2RIshYPNii+zPcdUmtNnQu+C/qJpI9MxsIHPvo/IT/TTRsdSxU5qUBt2H2St4Q473eGk1GC3WFdSpgT/FwUsG+IqkMNiqZ0VxvTNI/5e6meXseQOhACk0U+WkKimSSfT0CYntOx2+qfw5WLrRZuIIZ0qINOydxNJw5zg9tCNwi4eOK+scCfssPOS9zUOjPQa09AB6y0one/BTXLMGb9W5O0FE+iTpFHFfYLqOY6Y1k7O0lPOX+3Ce8yqgb0AarqCKeV5s6VPYg9k5gf7A4Sg5ZAR3WLQ8iMMj2WLUh3/4blix37Qxafxrcn8L6WC+m/UUKHpi/QnNZyEEIXi9NL9cS4fPqFw396M0kbYcmLI=
  # CF_API_KEY
  - secure: RPVTnuVxk7hvDIwCIF3AeNJ9UiQRlRAJUB7okcffhkktHk8XmDzO1MA9ncoHm8bGBvluP3dD1WkW07l8qN1ix3Qi8x0kOIZ8AFCLuiGGroXC70qV3csWbNdHBbzWm5ag+Jb356dergi+9w55Ko/I/+sxbr5UGX95uv3jynVQvKVVdxpRtaMhe9Wt3B7okKWmp4uOcdR+cdcPG+DyvGP1Vb13YfzjifZ/7I8gY7zJzaHLK1JusmyBlo+78c/V5mlBXlxuVNM3sbKf3n0Yq88rSP8npSGVjHghz2uR6+L6iftB/Zqt14oKmYXfU9dLKg7Cg+vPaekiA62N8miqAB1+T0UVDnP7Hfa/wysJ5DbRqhojbavrfLtu5ifuCG/ZJiibncd8srZ3GwTIGORc1eHenTTNLCP1xbc7yqBO2FEmxSr7r2eQS6haLduBGX5dYfB6Kvy1EEMg9tPrthP2XDx/Q9GRz/TrQ0cVFNFKYl+ULHUSMBhNEmGIL/434CVFjNfkwcq8pxRmCCqIycpdq79TpGuYMofmkStMJmKqmFUHSqH4yVLQhxrzR4/B9ktZIxP2KkmsxHuRJnX48zszUQd6GFLEEOyRH1bxCFmsQqbGAukORIoskkDaTHAL0xCcaGPzNqA5jSLQEIkvLqxkS6fzvOAMS4uVwgYDyueeycl2xG0=
