/* Layout: App-header */

#app-header {
  padding: 18px 30px;
  background: color(var(--colorDark) shade(12%) hue(184%) saturation(100%));

  > * {margin-bottom: 0;}


  .app-layout--error & {
    padding: 48px 30px 0;
  }
}
