/* Layout: App-hero */

/*---
title: App Hero
section: Layout
---

The `#app-hero` is a wrapper to contain elements or components that will have
prominence on the page, directly after the header.

Its background color is based on `--colorAccent`, and also has a padding.

Note that the heading tags placed inside have different styles than the default,
as well as the `.chart-wrapper` CSS component.

<p class="large-sample hide-codeblock"/>
```example
<div id="app-hero" class="mb-0">
  <h1>Hero Area</h1>
  <p class="mb-0">Sample text</p>
</div>
```
```html
<div id="app-hero">
  <h1>Hero Area</h1>
  <p>Sample text</p>
</div>
```

### Pull bottom
`.app-hero--pull-bottom` is a CSS modifier class used on the homepage,
it pulls the contents that come next to make them overlap with the hero's
background.

<p class="large-sample hide-codeblock"/>
```example
<div id="app-hero" class="app-hero--pull-bottom">
  <h1>Hero Area</h1>
  <p class="mb-0">Sample text</p>
</div>
<div>
  <p>Content that comes next.</p>
</div>
```
```html
<div id="app-hero" class="app-hero--pull-bottom">
  <h1>Hero Area</h1>
  <p>Sample text</p>
</div>
<div>
  <p>Content that comes next.</p>
</div>
```

*/

#app-hero {
  padding: 45px 20px;
  margin-bottom: 45px;
  #app-content & {
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  &.app-hero--pull-bottom {
    padding-bottom: 70px;
    margin-bottom: -45px;
  }

  text-align: center;
  color: var(--colorWhite);
  background: var(--brandGradient);

  h2 {
    margin-bottom: 45px;
    font-size: 55px;
    font-weight: 400;
    line-height: 1;
    color: var(--colorWhite);
  }

  h6, .h6 {
    color: var(--colorWhite);
    font-size: 15px;
    margin-bottom: 12px;
    letter-spacing: 0.08em;
  }

  .chart-wrapper {
    margin: 30px auto;

    canvas {
      max-width: 100%;
      height: auto !important;
      margin-bottom: -10px;
    }

    @media all and (max-width: 480px) {
      margin-right: -15px;
      margin-left: -15px;
      width: auto;

      canvas {
        margin-top: 0;
        margin-bottom: -20px;
      }
    }


  }

}
