/* Layout: App-content */

/*---
title: App Content
section: Layout
---

The `#app-content` is a wrapper to contain elements or components that will be
placed on the center area of each view.

<p class="medium-sample"/>
```example:html
<div id="app-content">
  <p>content...</p>
</div>
```

*/

#app-content {
  padding: 30px 20px 60px 20px;
}
