/* Layout: App-footer */

/*---
title: App Footer
section: Layout
---

The `#app-footer` is a wrapper to contain elements or components that will be
placed on the bottom area of each view (when based on the main layout).

Its background color is based on `--colorLight`, and also has a padding and a top
border.<br/>

```example:html
<div id="app-footer">
  <p>content...</p>
</div>
```
*/

#app-footer {
  overflow: hidden;
  position: relative;
  padding: 40px 30px;
  background: var(--colorLight);

  .row > * {z-index: 10;}
  .pulse-box {
    position: absolute;
    left: 0; bottom: -200px; right: 0;
    z-index: 1;
  }
}
