/* Layout: App-content */

/*---
title: App Content
section: Layout
---

The `#app-content` is a wrapper to contain elements or components that will be
placed on the center area of each view.

Its background color will be a light gradient from `--colorWhite` to `--colorBG`
except when is used in inside `.app-layout--error` on which its background color
will be based on `--colorDark`, and also has a padding.<br/>

<p class="medium-sample"/>
```example:html
<div id="app-content">
  <p>content...</p>
</div>
```

*/

#app-content {
  padding: 30px 20px 60px 20px;

  background: var(--colorBG);
  background: linear-gradient( var(--colorWhite) 50%, var(--colorBG) 100% );

  .app-layout--error & {
    color: var(--colorWhite);
    background: color(var(--colorDark) shade(12%) hue(184%) saturation(100%))
  }
}
