@font-face {
  font-family: 'wt-icons';
  src: url('wicons/wt-icons.eot?11751803');
  src: url('wicons/wt-icons.eot?11751803#iefix') format('embedded-opentype'),
       url('wicons/wt-icons.woff2?11751803') format('woff2'),
       url('wicons/wt-icons.woff?11751803') format('woff'),
       url('wicons/wt-icons.ttf?11751803') format('truetype'),
       url('wicons/wt-icons.svg?11751803#wt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wt-icons';
    src: url('wicons/wt-icons.svg?11751803#wt-icons') format('svg');
  }
}
*/

 [class^="wicon-"]:before, [class*=" wicon-"]:before {
  font-family: "wt-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.wicon-whatshot:before { content: '\e801'; }
.wicon-back:before { content: '\e802'; }
.wicon-timelapse:before { content: '\e803'; }
.wicon-account_balance_wallet:before { content: '\e804'; }
.wicon-help-outline:before { content: '\e805'; }
.wicon-info:before { content: '\e806'; }
.wicon-arrow-right:before { content: '\e807'; }
.wicon-right-dir:before { content: '\e808'; }
.wicon-link:before { content: '\f07b'; }
.wicon-twitter:before { content: '\f099'; }
.wicon-github-circled:before { content: '\f09b'; }
