/* ALERT */

/*---
title:   Alert messages
section: Components
---

Alert messages can have different colors accordingly with the message they are comunicating.

<p class="xsmall-sample">
```example:html
<div class="alert-wrapper">
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close">×</button>
    <strong>
      <i class="wicon-info"></i>
    </strong> Message goes here.
  </div>
</div>
```

Use the following syntax to call an alert message from a view: `showAlert(type, message)`

```js
    const {showAlert} = this.props;

    <button onClick={()=>showAlert('[info|success|warning|danger]','Alert message')}>
      Show Alert
    </button>
  )
```

In a Layout template (ie. LayoutMain.js) include the `<Alert/>` component and use `_alert.open(type, message)`

```js
    import Alert from '../components/Alert';

    <button onClick={()=>this._alert.open('[info|success|warning|danger]','Alert message')}>
      Show Alert
    </button>
  )
```

*/

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000000000000;
  max-width: 370px;
  padding:  20px 47px 20px 50px;
  font-size: 15px;
  letter-spacing: 0.06em;
  border-radius: 4px !important;
  box-shadow:  3px 3px 8px rgba(0,0,0,.2);

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    top: 0; left: 0; right: 0;
    max-width: none;
    border-radius: 0 !important;
  }

 .close {
   top: 8px;
   font-size: 21px;
   font-weight: bold;
  }

 [class*=wicon-] {
   position: absolute;
   top: 22px;
   left: 22px;
   font-size: 19px;
   opacity: .7;
  }

  &.alert-danger {
    color: #fff;
    border: #ef3f20;
    background: #ef3f20;
  }

  &.alert-warning {
    color: #fff;
    border: #FD8938;
    background: #FD8938;
  }

  &.alert-success {
    color: #fff;
    border: #51b651;
    background: #51b651;
  }

  &.alert-info {
    color: #fff;
    border: #0FA2F0;
    background: #0FA2F0;
  }

}
