/* BRAND-WRAPPER */

/*---
title:   Brand wrapper
section: Components

The `.brand-wrapper` CSS component is a container for the Lif token logo.
When this componen is used inside the App-hero some additional styles will be applied.

<p class="hide-codeblock"/>
```example
<style>
  .col {border: 1px solid #fff;}
</style>
<div class="row">
  <div class="col py-4">
    <h1>
      <a href="#" class="brand-wrapper">
        <img class="brand" src="../img/content/logo-lif-w.svg"/>
      </a>
    </h1>
  </div>
  <div class="col bg-dark py-4">
    <h1>
      <a href="#" class="brand-wrapper">
        <img class="brand" src="../img/content/logo-lif-w.svg"/>
      </a>
    </h1>
  </div>
</div>
```

```html
<h1>
  <Link to="/" className="brand-wrapper">
    <img className="brand" src={lifLogo}/>
  </Link>
</h1>

<!-- Use the --alpha modifier to make the background translucid-->
<h1>
  <Link to="/" className="brand-wrapper brand-wrapper--alpha">
    <img className="brand" src={lifLogo}/>
  </Link>
</h1>
```

*/

.brand-wrapper {
  position: relative;
  display:block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--brandGreen--Subtle);
  transition: all 0.3s ease-out;

  .brand {
    position: absolute;
    top: 12px;
    left: 11px;
    width: 28px;
    font-size: 14px;
  }

  &:hover {
    background: var(--brandGreen);
    box-shadow:0px 0px 15px var(--brandGreen);

  }
}
