/* CHART */

/*
@styleguide
@title Chart container

The chart-wrapper component is a container for the chartJS generated code. (Documentation here: www.chartjs.org)
When this componen is used inside the App-hero some additional styles will be applied.
*/

.chart-wrapper {
  padding: 30px 30px;
  margin-bottom: 20px;
  border-radius: 2px;
  background: var(--colorWhite);

  border: 1px solid var(--shadow);
  border-width: 1px; /* cssnano requires this */
  box-shadow: var(--shadow);

  .chart-wrapper__header {
    padding: 10px 20px 7px 30px;
    margin: -30px -30px 20px -30px;
    text-transform:uppercase;
    font-size: 12px;
    color: var(--colorSecondary);
    text-align:left;
    border-bottom: 1px solid color(var(--shadowColor) tint(40%));
    background-color:var(--colorBG);
  }

}
