/* Base */

body {
  font-family: var(--fontPrimary);
  background: var(--colorBG);
}

h3, .h3 {
  > strong,
  > b {
    font-weight: 700;
  }
}

a {
  color: var(--colorLink);
  &:hover {
    color: var(--colorInfo);
  }
}
