/* StyleGuide */

/* Overwrite the default style-guide theme */
/* http://localhost:8080/styleguide/ */

.psg-theme {

  body {
    background: #ddd;
    font-size: 18em;
  }

  .psg-menu a {text-decoration:none;}

  .psg-logo {display:none;}

  .psg-title {
    padding: 20px;
    background: #48DDCA;
  }

  .psg-section {
    min-width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    p > code {
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 90%;
      background-color:#f4f4f4;
    }

    pre {
      padding-left: 20px;
      border-left: 2px solid #ccc;
    }
  }

  .psg-contents > p:first-child {display:none;}

}
