<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Lif Market Validation Mechanism - WindingTree </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <meta name="description" content="Making travel cheaper for consumers and more profitable for suppliers.">
    <meta property="og:title" content="Lif Market Validation Mechanism"/>
    <meta property="og:description" content="Making travel cheaper for consumers and more profitable for suppliers."/>
    <meta property="og:image" content="img/content/wt-refimg.png"/>
    <meta property="og:url" content="https://mvm.windingtree.com/#/"/>
    <meta property="og:site_name" content="Winding Tree"/>
    <meta name="git-rev" content="<%= GIT_REV %>">
    <meta name="ver" content="<%= VERSION_NUMBER %>">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="//windingtree.com/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="57x57" href="//windingtree.com/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//windingtree.com/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//windingtree.com/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//windingtree.com/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//windingtree.com/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//windingtree.com/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//windingtree.com/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//windingtree.com/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//windingtree.com/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="//windingtree.com/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//windingtree.com/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//windingtree.com/images/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon.png">

    <link rel="stylesheet" href="font/wt-icons.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="app">
      <style>
        html, body {margin: 0; padding: 0;}
        .loader{height:4px;width:100%;position:relative;overflow:hidden;background-color:#ddd}
        .loader:before{display:block;position:absolute;content:"";left:-200px;width:200px;height:4px;background-color:#008A94;animation:loading 2s linear infinite}@keyframes loading{from{left:-200px;width:30%}50%{width:30%}70%{width:70%}80%{left:50%}95%{left:120%}to{left:100%}}
      </style>
        <div class="loader">Loading...</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
